.Navbar {
    background-color: #C2B7A3;
    text-align: left;
    align-items: center;
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.Header {
    font-size: x-large;
    font-weight: bold;
}

.Linkbar {
    align-items: center;
    display: flex;
    padding-left: 1rem;
}

.Links {
    text-align: center;
    align-items: center;
    display: flex;
    padding-left: 1rem;
}
a {
    text-decoration: none;
}

a:link, a:visited {
    color: black;
}

a:hover {
    color: #077B8A
}